In [19]:
from datetime import timedelta, date
import datetime
import numpy as np
import pandas as pd
import string
import re
import csv
import requests
import string

df_remotes = pd.read_csv('turnstile_location.csv', delimiter = ',', header = 0, skipinitialspace = True)

df_remotes.drop('1', axis = 1, inplace = True)

In [22]:
print(df_remotes.head(5))

  Remote  Booth       Station Line Name Division
0   R001   A060  WHITEHALL ST        R1      BMT
1   R001   A058  WHITEHALL ST        R1      BMT
2   R001  R101S   SOUTH FERRY        R1      IRT
3   R002   A077     FULTON ST  ACJZ2345      BMT
4   R002   A081     FULTON ST  ACJZ2345      BMT

In [25]:
print(df_stations.head(5))

   Station ID  Complex ID GTFS Stop ID Division     Line  \
0           1           1          R01      BMT  Astoria
1           2           2          R03      BMT  Astoria
2           3           3          R04      BMT  Astoria
3           4           4          R05      BMT  Astoria
4           5           5          R06      BMT  Astoria

                Stop Name Borough Daytime Routes Structure  GTFS Latitude  \
0  Astoria - Ditmars Blvd       Q            N W  Elevated      40.775036
1            Astoria Blvd       Q            N W  Elevated      40.770258
2                   30 Av       Q            N W  Elevated      40.766779
3                Broadway       Q            N W  Elevated      40.761820
4                   36 Av       Q            N W  Elevated      40.756804

   GTFS Longitude
0      -73.912034
1      -73.917843
2      -73.921479
3      -73.925508
4      -73.929575

In [31]:
df_traffic = pd.read_csv('traffic_2017.csv', delimiter = ',', header = 0, skipinitialspace = True)

In [32]:
print(df_traffic.head(5))

    C/A  UNIT       SCP STATION LINENAME DIVISION        DATE      TIME  \
0  A002  R051  02-00-00   59 ST  NQR456W      BMT  04/08/2017  00:00:00
1  A002  R051  02-00-00   59 ST  NQR456W      BMT  04/08/2017  04:00:00
2  A002  R051  02-00-00   59 ST  NQR456W      BMT  04/08/2017  08:00:00
3  A002  R051  02-00-00   59 ST  NQR456W      BMT  04/08/2017  12:00:00
4  A002  R051  02-00-00   59 ST  NQR456W      BMT  04/08/2017  16:00:00

      DESC  ENTRIES    EXITS
0  REGULAR  6127245  2076158
1  REGULAR  6127285  2076165
2  REGULAR  6127304  2076196
3  REGULAR  6127409  2076284
4  REGULAR  6127654  2076350

In [37]:
df_traffic

<bound method DataFrame.info of            C/A  UNIT       SCP        STATION LINENAME DIVISION        DATE  \
0         A002  R051  02-00-00          59 ST  NQR456W      BMT  04/08/2017
1         A002  R051  02-00-00          59 ST  NQR456W      BMT  04/08/2017
2         A002  R051  02-00-00          59 ST  NQR456W      BMT  04/08/2017
3         A002  R051  02-00-00          59 ST  NQR456W      BMT  04/08/2017
4         A002  R051  02-00-00          59 ST  NQR456W      BMT  04/08/2017
5         A002  R051  02-00-00          59 ST  NQR456W      BMT  04/08/2017
6         A002  R051  02-00-00          59 ST  NQR456W      BMT  04/09/2017
7         A002  R051  02-00-00          59 ST  NQR456W      BMT  04/09/2017
8         A002  R051  02-00-00          59 ST  NQR456W      BMT  04/09/2017
9         A002  R051  02-00-00          59 ST  NQR456W      BMT  04/09/2017
10        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/09/2017
11        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/09/2017
12        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/10/2017
13        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/10/2017
14        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/10/2017
15        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/10/2017
16        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/10/2017
17        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/10/2017
18        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/11/2017
19        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/11/2017
20        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/11/2017
21        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/11/2017
22        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/11/2017
23        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/11/2017
24        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/12/2017
25        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/12/2017
26        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/12/2017
27        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/12/2017
28        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/12/2017
29        A002  R051  02-00-00          59 ST  NQR456W      BMT  04/12/2017
...        ...   ...       ...            ...      ...      ...         ...
2170091  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/19/2017
2170092  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/19/2017
2170093  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/19/2017
2170094  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/19/2017
2170095  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/19/2017
2170096  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/19/2017
2170097  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/20/2017
2170098  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/20/2017
2170099  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/20/2017
2170100  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/20/2017
2170101  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/20/2017
2170102  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/20/2017
2170103  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/21/2017
2170104  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/21/2017
2170105  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/21/2017
2170106  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/21/2017
2170107  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/21/2017
2170108  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/21/2017
2170109  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/22/2017
2170110  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/22/2017
2170111  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/22/2017
2170112  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/22/2017
2170113  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/22/2017
2170114  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/22/2017
2170115  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/23/2017
2170116  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/23/2017
2170117  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/23/2017
2170118  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/23/2017
2170119  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/23/2017
2170120  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  06/23/2017

             TIME     DESC  ENTRIES    EXITS
0        00:00:00  REGULAR  6127245  2076158
1        04:00:00  REGULAR  6127285  2076165
2        08:00:00  REGULAR  6127304  2076196
3        12:00:00  REGULAR  6127409  2076284
4        16:00:00  REGULAR  6127654  2076350
5        20:00:00  REGULAR  6128002  2076398
6        00:00:00  REGULAR  6128172  2076417
7        04:00:00  REGULAR  6128213  2076419
8        08:00:00  REGULAR  6128226  2076440
9        12:00:00  REGULAR  6128293  2076512
10       16:00:00  REGULAR  6128475  2076556
11       20:00:00  REGULAR  6128747  2076614
12       00:00:00  REGULAR  6128894  2076644
13       04:00:00  REGULAR  6128899  2076647
14       08:00:00  REGULAR  6128930  2076742
15       12:00:00  REGULAR  6129094  2077006
16       16:00:00  REGULAR  6129425  2077079
17       20:00:00  REGULAR  6130163  2077140
18       00:00:00  REGULAR  6130400  2077160
19       04:00:00  REGULAR  6130418  2077163
20       08:00:00  REGULAR  6130464  2077257
21       12:00:00  REGULAR  6130613  2077478
22       16:00:00  REGULAR  6130896  2077564
23       20:00:00  REGULAR  6131601  2077620
24       00:00:00  REGULAR  6131824  2077642
25       04:00:00  REGULAR  6131841  2077647
26       08:00:00  REGULAR  6131882  2077742
27       12:00:00  REGULAR  6132037  2077948
28       16:00:00  REGULAR  6132340  2078018
29       20:00:00  REGULAR  6133044  2078066
...           ...      ...      ...      ...
2170091  01:00:00  REGULAR     5554      301
2170092  05:00:00  REGULAR     5554      301
2170093  09:00:00  REGULAR     5554      301
2170094  13:00:00  REGULAR     5554      301
2170095  17:00:00  REGULAR     5554      301
2170096  21:00:00  REGULAR     5554      301
2170097  01:00:00  REGULAR     5554      301
2170098  05:00:00  REGULAR     5554      301
2170099  09:00:00  REGULAR     5554      301
2170100  13:00:00  REGULAR     5554      301
2170101  17:00:00  REGULAR     5554      301
2170102  21:00:00  REGULAR     5554      301
2170103  01:00:00  REGULAR     5554      301
2170104  05:00:00  REGULAR     5554      301
2170105  09:00:00  REGULAR     5554      301
2170106  13:00:00  REGULAR     5554      301
2170107  17:00:00  REGULAR     5554      301
2170108  21:00:00  REGULAR     5554      301
2170109  01:00:00  REGULAR     5554      301
2170110  05:00:00  REGULAR     5554      301
2170111  09:00:00  REGULAR     5554      301
2170112  13:00:00  REGULAR     5554      301
2170113  17:00:00  REGULAR     5554      301
2170114  21:00:00  REGULAR     5554      301
2170115  01:00:00  REGULAR     5554      301
2170116  05:00:00  REGULAR     5554      301
2170117  09:00:00  REGULAR     5554      301
2170118  13:00:00  REGULAR     5554      301
2170119  17:00:00  REGULAR     5554      301
2170120  21:00:00  REGULAR     5554      301

[2170121 rows x 11 columns]>

In [38]:
df_traffic.describe()

            ENTRIES         EXITS
count  2.170121e+06  2.170121e+06
mean   3.781080e+07  3.016909e+07
std    2.032673e+08  1.820563e+08
min    0.000000e+00  0.000000e+00
25%    4.990290e+05  2.460920e+05
50%    2.636823e+06  1.486406e+06
75%    6.746402e+06  4.753406e+06
max    2.130545e+09  2.087387e+09

In [39]:
df_traffic.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [70]:
df_traffic_time = df_traffic.TIME.value_counts().sort_values(ascending = False)

print(df_traffic_time.head(10))

00:00:00    185204
04:00:00    185176
08:00:00    185070
20:00:00    185069
16:00:00    185052
12:00:00    184972
05:00:00    133307
01:00:00    133268
17:00:00    133208
09:00:00    133196
Name: TIME, dtype: int64

In [71]:
df_traffic_time.describe()

count     55139.000000
mean         39.357279
std        2380.645815
min           1.000000
25%           1.000000
50%           2.000000
75%           4.000000
max      185204.000000
Name: TIME, dtype: float64

'00:00:00'

In [60]:
df_traffic["DATE_TIME"] = pd.to_datetime(df_traffic.DATE + " " + df_traffic.TIME, format="%m/%d/%Y %H:%M:%S")

In [61]:
df_traffic

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,00:00:00,REGULAR,6127245,2076158,2017-04-08 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,04:00:00,REGULAR,6127285,2076165,2017-04-08 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,08:00:00,REGULAR,6127304,2076196,2017-04-08 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,12:00:00,REGULAR,6127409,2076284,2017-04-08 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,16:00:00,REGULAR,6127654,2076350,2017-04-08 16:00:00
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,20:00:00,REGULAR,6128002,2076398,2017-04-08 20:00:00
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/09/2017,00:00:00,REGULAR,6128172,2076417,2017-04-09 00:00:00
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/09/2017,04:00:00,REGULAR,6128213,2076419,2017-04-09 04:00:00
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/09/2017,08:00:00,REGULAR,6128226,2076440,2017-04-09 08:00:00
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/09/2017,12:00:00,REGULAR,6128293,2076512,2017-04-09 12:00:00
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/09/2017,16:00:00,REGULAR,6128475,2076556,2017-04-09 16:00:00
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/09/2017,20:00:00,REGULAR,6128747,2076614,2017-04-09 20:00:00
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/10/2017,00:00:00,REGULAR,6128894,2076644,2017-04-10 00:00:00
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/10/2017,04:00:00,REGULAR,6128899,2076647,2017-04-10 04:00:00
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/10/2017,08:00:00,REGULAR,6128930,2076742,2017-04-10 08:00:00
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/10/2017,12:00:00,REGULAR,6129094,2077006,2017-04-10 12:00:00
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/10/2017,16:00:00,REGULAR,6129425,2077079,2017-04-10 16:00:00
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/10/2017,20:00:00,REGULAR,6130163,2077140,2017-04-10 20:00:00
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/11/2017,00:00:00,REGULAR,6130400,2077160,2017-04-11 00:00:00
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/11/2017,04:00:00,REGULAR,6130418,2077163,2017-04-11 04:00:00
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/11/2017,08:00:00,REGULAR,6130464,2077257,2017-04-11 08:00:00
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/11/2017,12:00:00,REGULAR,6130613,2077478,2017-04-11 12:00:00
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/11/2017,16:00:00,REGULAR,6130896,2077564,2017-04-11 16:00:00
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/11/2017,20:00:00,REGULAR,6131601,2077620,2017-04-11 20:00:00
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/12/2017,00:00:00,REGULAR,6131824,2077642,2017-04-12 00:00:00
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/12/2017,04:00:00,REGULAR,6131841,2077647,2017-04-12 04:00:00
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/12/2017,08:00:00,REGULAR,6131882,2077742,2017-04-12 08:00:00
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/12/2017,12:00:00,REGULAR,6132037,2077948,2017-04-12 12:00:00
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/12/2017,16:00:00,REGULAR,6132340,2078018,2017-04-12 16:00:00
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/12/2017,20:00:00,REGULAR,6133044,2078066,2017-04-12 20:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
2170091,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/19/2017,01:00:00,REGULAR,5554,301,2017-06-19 01:00:00
2170092,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/19/2017,05:00:00,REGULAR,5554,301,2017-06-19 05:00:00
2170093,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/19/2017,09:00:00,REGULAR,5554,301,2017-06-19 09:00:00
2170094,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/19/2017,13:00:00,REGULAR,5554,301,2017-06-19 13:00:00
2170095,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/19/2017,17:00:00,REGULAR,5554,301,2017-06-19 17:00:00
2170096,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/19/2017,21:00:00,REGULAR,5554,301,2017-06-19 21:00:00
2170097,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/20/2017,01:00:00,REGULAR,5554,301,2017-06-20 01:00:00
2170098,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/20/2017,05:00:00,REGULAR,5554,301,2017-06-20 05:00:00
2170099,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/20/2017,09:00:00,REGULAR,5554,301,2017-06-20 09:00:00
2170100,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/20/2017,13:00:00,REGULAR,5554,301,2017-06-20 13:00:00
2170101,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/20/2017,17:00:00,REGULAR,5554,301,2017-06-20 17:00:00
2170102,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/20/2017,21:00:00,REGULAR,5554,301,2017-06-20 21:00:00
2170103,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/21/2017,01:00:00,REGULAR,5554,301,2017-06-21 01:00:00
2170104,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/21/2017,05:00:00,REGULAR,5554,301,2017-06-21 05:00:00
2170105,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/21/2017,09:00:00,REGULAR,5554,301,2017-06-21 09:00:00
2170106,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/21/2017,13:00:00,REGULAR,5554,301,2017-06-21 13:00:00
2170107,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/21/2017,17:00:00,REGULAR,5554,301,2017-06-21 17:00:00
2170108,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/21/2017,21:00:00,REGULAR,5554,301,2017-06-21 21:00:00
2170109,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/22/2017,01:00:00,REGULAR,5554,301,2017-06-22 01:00:00
2170110,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/22/2017,05:00:00,REGULAR,5554,301,2017-06-22 05:00:00
2170111,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/22/2017,09:00:00,REGULAR,5554,301,2017-06-22 09:00:00
2170112,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/22/2017,13:00:00,REGULAR,5554,301,2017-06-22 13:00:00
2170113,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/22/2017,17:00:00,REGULAR,5554,301,2017-06-22 17:00:00
2170114,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/22/2017,21:00:00,REGULAR,5554,301,2017-06-22 21:00:00
2170115,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,01:00:00,REGULAR,5554,301,2017-06-23 01:00:00
2170116,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,05:00:00,REGULAR,5554,301,2017-06-23 05:00:00
2170117,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,09:00:00,REGULAR,5554,301,2017-06-23 09:00:00
2170118,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,13:00:00,REGULAR,5554,301,2017-06-23 13:00:00
2170119,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,17:00:00,REGULAR,5554,301,2017-06-23 17:00:00
2170120,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,21:00:00,REGULAR,5554,301,2017-06-23 21:00:00