In [36]:
import numpy as np
import pandas as pd
import string
import re
import csv
import pprint as pp

df_remotes = pd.read_csv('turnstile_location.csv', delimiter = ',')

df_remotes.drop('1', axis = 1, inplace = True)

print(df_remotes)

    Remote  Booth          Station    Line Name Division
0     R001   A060     WHITEHALL ST           R1      BMT
1     R001   A058     WHITEHALL ST           R1      BMT
2     R001  R101S      SOUTH FERRY           R1      IRT
3     R002   A077        FULTON ST     ACJZ2345      BMT
4     R002   A081        FULTON ST     ACJZ2345      BMT
5     R002   A082        FULTON ST     ACJZ2345      BMT
6     R003   J025    CYPRESS HILLS            J      BMT
7     R004   J028     ELDERTS LANE           JZ      BMT
8     R005   J030   FOREST PARKWAY            J      BMT
9     R006   J031   WOODHAVEN BLVD           JZ      BMT
10    R006   J032   WOODHAVEN BLVD           JZ      BMT
11    R007   J034           104 ST           JZ      BMT
12    R008   J035           111 ST            J      BMT
13    R009   J037           121 ST           JZ      BMT
14    R010  N062A  42 ST-PA BUS TE  ACENQRS1237      IND
15    R010   N060  42 ST-PA BUS TE  ACENQRS1237      IND
16    R011  N063A  42 ST-PA BUS TE  ACENQRS1237      IND
17    R011   N062  42 ST-PA BUS TE  ACENQRS1237      IND
18    R011   N063  42 ST-PA BUS TE  ACENQRS1237      IND
19    R012   N067   34 ST-PENN STA          ACE      IND
20    R012   N065   34 ST-PENN STA          ACE      IND
21    R012   N068   34 ST-PENN STA          ACE      IND
22    R012   N070   34 ST-PENN STA          ACE      IND
23    R012   N072   34 ST-PENN STA          ACE      IND
24    R013   N071   34 ST-PENN STA          ACE      IND
25    R013   N069   34 ST-PENN STA          ACE      IND
26    R013   N073   34 ST-PENN STA          ACE      IND
27    R014   N095        FULTON ST     ACJZ2345      IND
28    R014   R205        FULTON ST     ACJZ2345      IRT
29    R014   R206        FULTON ST     2345ACJZ      IRT
..     ...    ...              ...          ...      ...
738   R467   MCV3  METROCARD VAN-3            1      BMT
739   R468  TRAM1    RIT-MANHATTAN            R      RIT
740   R469  TRAM2    RIT-ROOSEVELT            R      RIT
741   R470   X002   ELTINGVILLE PK            Z      SRT
742   R526  LI001    LIB-HEMPSTEAD            F      LIB
743   R532  WCCTR  WEST COUNTY CTR            5      BEE
744   R535  JFK01   JFK HOWARD BCH            A      IND
745   R535  JFK02   JFK HOWARD BCH            A      IND
746   R536  JFK03  JFK JAMAICA CT1            E      IND
747   R537  JFK04  JFK JAMAICA CT2            E      IND
748   R538  LGA01  LGA AIRPORT CTB            7      IRT
749   R540  PTH08         PATH WTC            1      PTH
750   R540  PTH21       PATH WTC 2            1      PTH
751   R541  PTH13        THIRTY ST            1      PTH
752   R541  PTH17  THIRTY THIRD ST            1      PTH
753   R542  PTH12  TWENTY THIRD ST            1      PTH
754   R543  PTH05   EXCHANGE PLACE            1      PTH
755   R544  PTH02         HARRISON            1      PTH
756   R545  PTH11      14TH STREET            1      PTH
757   R546  PTH06  PAVONIA/NEWPORT            1      PTH
758   R547  PTH10       9TH STREET            1      PTH
759   R548  PTH09   CHRISTOPHER ST            1      PTH
760   R549  PTH01  NEWARK HW BMEBE            1      PTH
761   R549  PTH18     NEWARK BM BW            1      PTH
762   R549  PTH19         NEWARK C            1      PTH
763   R549  PTH20     NEWARK HM HE            1      PTH
764   R550  PTH07       CITY / BUS            1      PTH
765   R550  PTH16       LACKAWANNA            1      PTH
766   R551  PTH04     GROVE STREET            1      PTH
767   R552  PTH03   JOURNAL SQUARE            1      PTH

[768 rows x 5 columns]

In [29]:
df_stations = pd.read_csv('stations.csv', delimiter = ',')

print(df_stations)

     Station ID  Complex ID GTFS Stop ID Division                 Line  \
0             1           1          R01      BMT              Astoria
1             2           2          R03      BMT              Astoria
2             3           3          R04      BMT              Astoria
3             4           4          R05      BMT              Astoria
4             5           5          R06      BMT              Astoria
5             6           6          R08      BMT              Astoria
6             7         613          R11      BMT              Astoria
7             8           8          R13      BMT              Astoria
8             9           9          R14      BMT  Broadway - Brighton
9            10          10          R15      BMT  Broadway - Brighton
10           11         611          R16      BMT  Broadway - Brighton
11           12         607          R17      BMT  Broadway - Brighton
12           13          13          R18      BMT  Broadway - Brighton
13           14          14          R19      BMT  Broadway - Brighton
14           15         602          R20      BMT  Broadway - Brighton
15           16          16          R21      BMT  Broadway - Brighton
16           17          17          R22      BMT  Broadway - Brighton
17           18         623          R23      BMT             Broadway
18           19         623          Q01      BMT     Manhattan Bridge
19           20          20          R24      BMT             Broadway
20           21          21          R25      BMT             Broadway
21           22          22          R26      BMT             Broadway
22           23         635          R27      BMT             Broadway
23           24         620          R28      BMT             Broadway
24           25         636          R29      BMT             Broadway
25           26          26          R30      BMT  Broadway - Brighton
26           27         617          R31      BMT               4th Av
27           28          28          R32      BMT               4th Av
28           29         608          R33      BMT               4th Av
29           30          30          R34      BMT               4th Av
..          ...         ...          ...      ...                  ...
467         465         610          723      IRT             Flushing
468         466         609          724      IRT             Flushing
469         467         611          725      IRT             Flushing
470         468         611          902      IRT  Lexington - Shuttle
471         469         610          901      IRT  Lexington - Shuttle
472         471         471          726      IRT             Flushing
473         475         475          Q05      IND            Second Av
474         476         476          Q04      IND            Second Av
475         477         477          Q03      IND            Second Av
476         501         501          S31      SIR        Staten Island
477         502         502          S30      SIR        Staten Island
478         503         503          S29      SIR        Staten Island
479         504         504          S28      SIR        Staten Island
480         505         505          S27      SIR        Staten Island
481         506         506          S26      SIR        Staten Island
482         507         507          S25      SIR        Staten Island
483         508         508          S24      SIR        Staten Island
484         509         509          S23      SIR        Staten Island
485         510         510          S22      SIR        Staten Island
486         511         511          S21      SIR        Staten Island
487         512         512          S20      SIR        Staten Island
488         513         513          S19      SIR        Staten Island
489         514         514          S18      SIR        Staten Island
490         515         515          S17      SIR        Staten Island
491         516         516          S16      SIR        Staten Island
492         517         517          S15      SIR        Staten Island
493         518         518          S14      SIR        Staten Island
494         519         519          S13      SIR        Staten Island
495         522         522          S09      SIR        Staten Island
496         523         523          S11      SIR        Staten Island

                      Stop Name Borough Daytime Routes   Structure  \
0        Astoria - Ditmars Blvd       Q            N W    Elevated
1                  Astoria Blvd       Q            N W    Elevated
2                         30 Av       Q            N W    Elevated
3                      Broadway       Q            N W    Elevated
4                         36 Av       Q            N W    Elevated
5                         39 Av       Q            N W    Elevated
6            Lexington Av/59 St       M          N W R      Subway
7                    5 Av/59 St       M          N W R      Subway
8                  57 St - 7 Av       M        N Q R W      Subway
9                         49 St       M          N R W      Subway
10             Times Sq - 42 St       M        N Q R W      Subway
11            34 St - Herald Sq       M        N Q R W      Subway
12                        28 St       M            R W      Subway
13                        23 St       M            R W      Subway
14             14 St - Union Sq       M        N Q R W      Subway
15                   8 St - NYU       M            R W      Subway
16                    Prince St       M            R W      Subway
17                     Canal St       M            R W      Subway
18                     Canal St       M            N Q      Subway
19                    City Hall       M            R W      Subway
20                 Cortlandt St       M            R W      Subway
21                    Rector St       M            R W      Subway
22                 Whitehall St       M            R W      Subway
23                     Court St      Bk              R      Subway
24           Jay St - MetroTech      Bk              R      Subway
25                    DeKalb Av      Bk          B Q R      Subway
26   Atlantic Av - Barclays Ctr      Bk          D N R      Subway
27                     Union St      Bk              R      Subway
28                         9 St      Bk              R      Subway
29                  Prospect Av      Bk              R      Subway
..                          ...     ...            ...         ...
467       Grand Central - 42 St       M              7      Subway
468                        5 Av       M              7      Subway
469            Times Sq - 42 St       M              7      Subway
470            Times Sq - 42 St       M              S      Subway
471       Grand Central - 42 St       M              S      Subway
472               34 St - 11 Av       M              7      Subway
473                       96 St       M              Q      Subway
474                       86 St       M              Q      Subway
475                       72 St       M              Q      Subway
476                   St George      SI            SIR    Open Cut
477               Tompkinsville      SI            SIR    At Grade
478                   Stapleton      SI            SIR    Elevated
479                     Clifton      SI            SIR    Elevated
480                    Grasmere      SI            SIR    Open Cut
481                    Old Town      SI            SIR  Embankment
482                Dongan Hills      SI            SIR  Embankment
483                Jefferson Av      SI            SIR  Embankment
484                  Grant City      SI            SIR    Open Cut
485                    New Dorp      SI            SIR    Open Cut
486             Oakwood Heights      SI            SIR    Open Cut
487                 Bay Terrace      SI            SIR  Embankment
488                 Great Kills      SI            SIR    Open Cut
489                 Eltingville      SI            SIR  Embankment
490                    Annadale      SI            SIR    Open Cut
491                    Huguenot      SI            SIR    Open Cut
492                Prince's Bay      SI            SIR    Open Cut
493             Pleasant Plains      SI            SIR  Embankment
494             Richmond Valley      SI            SIR    Open Cut
495                 Tottenville      SI            SIR    At Grade
496                 Arthur Kill      SI            SIR    At Grade

     GTFS Latitude  GTFS Longitude
0        40.775036      -73.912034
1        40.770258      -73.917843
2        40.766779      -73.921479
3        40.761820      -73.925508
4        40.756804      -73.929575
5        40.752882      -73.932755
6        40.762660      -73.967258
7        40.764811      -73.973347
8        40.764664      -73.980658
9        40.759901      -73.984139
10       40.754672      -73.986754
11       40.749567      -73.987950
12       40.745494      -73.988691
13       40.741303      -73.989344
14       40.735736      -73.990568
15       40.730328      -73.992629
16       40.724329      -73.997702
17       40.719527      -74.001775
18       40.718383      -74.000460
19       40.713282      -74.006978
20       40.710668      -74.011029
21       40.707220      -74.013342
22       40.703087      -74.012994
23       40.694100      -73.991777
24       40.692180      -73.985942
25       40.690635      -73.981824
26       40.683666      -73.978810
27       40.677316      -73.983110
28       40.670847      -73.988302
29       40.665414      -73.992872
..             ...             ...
467      40.751431      -73.976041
468      40.753821      -73.981963
469      40.755477      -73.987691
470      40.755983      -73.986229
471      40.752769      -73.979189
472      40.755882      -74.001910
473      40.784318      -73.947152
474      40.777891      -73.951787
475      40.768799      -73.958424
476      40.643748      -74.073643
477      40.636949      -74.074835
478      40.627915      -74.075162
479      40.621319      -74.071402
480      40.603117      -74.084087
481      40.596612      -74.087368
482      40.588849      -74.096090
483      40.583591      -74.103338
484      40.578965      -74.109704
485      40.573480      -74.117210
486      40.565110      -74.126320
487      40.556400      -74.136907
488      40.551231      -74.151399
489      40.544601      -74.164570
490      40.540460      -74.178217
491      40.533674      -74.191794
492      40.525507      -74.200064
493      40.522410      -74.217847
494      40.519631      -74.229141
495      40.512764      -74.251961
496      40.516578      -74.242096

[497 rows x 11 columns]

In [89]:
from datetime import timedelta, date
import requests
import string

start_date = datetime.date(2015, 1, 1)
end_date = datetime.date(2015, 1, 10)

#date.today()

data_url_base = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_'
data_url_date = ''
data_url = data_url_base + data_url_date
data_url_ext = '.txt'

# initialize an empty dataframe to store data inside
df_transaction = pd.DataFrame()

while start_date <= end_date:
    df_loop = pd.DataFrame()
    
    date_year = str(start_date.year)
    date_month = str(start_date.month)
    date_day = str(start_date.day)

    data_url_date = date_year[2:] + date_month.zfill(2) + date_day.zfill(2)

    data_url = data_url_base + data_url_date + data_url_ext
    # print(data_url)
    
    if request.status_code == 200:
        df_loop = pd.read_csv(data_url, delimiter = ',', inplace = True)
        df_transaction = pd.concat([df_transaction, df_loop])
    
    # print(df_loop)
    
    # print(df_transaction)
    
    start_date = start_date + datetime.timedelta(days = 1)
    
print(df_transaction.head(10))

Empty DataFrame
Columns: []
Index: []

In [95]:
data_url_base = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_'
data_url_date = ''
data_url = data_url_base + data_url_date
data_url_ext = '.txt'

# initialize an empty dataframe to store data inside
df_transaction = pd.DataFrame()

df_loop = pd.DataFrame()

start_date = datetime.date(2015, 1, 3)
end_date = datetime.date(2015, 1, 10)
date_year = str(start_date.year)
date_month = str(start_date.month)
date_day = str(start_date.day)
data_url_date = date_year[2:] + date_month.zfill(2) + date_day.zfill(2)
data_url = data_url_base + data_url_date + data_url_ext

df_loop = pd.read_csv(data_url, delimiter = ',')
df_transaction.append(df_loop)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,03:00:00,REGULAR,4936840,1672747
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,07:00:00,REGULAR,4936852,1672762
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,11:00:00,REGULAR,4936909,1672839
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,15:00:00,REGULAR,4937131,1672892
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,19:00:00,REGULAR,4937588,1672949
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/27/2014,23:00:00,REGULAR,4937823,1672997
6,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/28/2014,03:00:00,REGULAR,4937911,1673010
7,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/28/2014,07:00:00,REGULAR,4937920,1673018
8,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/28/2014,11:00:00,REGULAR,4937960,1673068
9,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/28/2014,15:00:00,REGULAR,4938101,1673127
10,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/28/2014,19:00:00,REGULAR,4938365,1673196
11,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/28/2014,23:00:00,REGULAR,4938544,1673223
12,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/29/2014,03:00:00,REGULAR,4938566,1673233
13,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/29/2014,07:00:00,REGULAR,4938574,1673262
14,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/29/2014,11:00:00,REGULAR,4938701,1673541
15,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/29/2014,15:00:00,REGULAR,4938984,1673630
16,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/29/2014,19:00:00,REGULAR,4939811,1673737
17,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/29/2014,23:00:00,REGULAR,4940171,1673769
18,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/30/2014,03:00:00,REGULAR,4940218,1673776
19,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/30/2014,07:00:00,REGULAR,4940232,1673810
20,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/30/2014,11:00:00,REGULAR,4940338,1674085
21,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/30/2014,15:00:00,REGULAR,4940620,1674155
22,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/30/2014,19:00:00,REGULAR,4941463,1674253
23,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/30/2014,23:00:00,REGULAR,4941835,1674276
24,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,03:00:00,REGULAR,4941892,1674290
25,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,07:00:00,REGULAR,4941910,1674322
26,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,10:21:51,REGULAR,4941987,1674518
27,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,11:00:00,REGULAR,4942012,1674547
28,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,15:00:00,REGULAR,4942439,1674636
29,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,19:00:00,REGULAR,4943145,1674709
...,...,...,...,...,...,...,...,...,...,...,...
194083,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/29/2014,00:00:00,REGULAR,5554,195
194084,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/29/2014,04:00:00,REGULAR,5554,195
194085,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/29/2014,08:00:00,REGULAR,5554,195
194086,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/29/2014,12:00:00,REGULAR,5554,195
194087,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/29/2014,16:00:00,REGULAR,5554,195
194088,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/29/2014,20:00:00,REGULAR,5554,195
194089,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/30/2014,00:00:00,REGULAR,5554,195
194090,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/30/2014,04:00:00,REGULAR,5554,195
194091,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/30/2014,07:25:10,REGULAR,5554,195
194092,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/30/2014,08:00:00,REGULAR,5554,195
194093,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/30/2014,12:00:00,REGULAR,5554,195
194094,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/30/2014,20:00:00,REGULAR,5554,195
194095,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/31/2014,00:00:00,REGULAR,5554,195
194096,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/31/2014,04:00:00,REGULAR,5554,195
194097,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/31/2014,08:00:00,REGULAR,5554,195
194098,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/31/2014,12:00:00,REGULAR,5554,195
194099,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/31/2014,16:00:00,REGULAR,5554,195
194100,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/31/2014,20:00:00,REGULAR,5554,195
194101,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2015,00:00:00,REGULAR,5554,195
194102,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2015,04:00:00,REGULAR,5554,195
194103,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2015,08:00:00,REGULAR,5554,195
194104,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2015,12:00:00,REGULAR,5554,195
194105,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2015,16:00:00,REGULAR,5554,195
194106,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/01/2015,20:00:00,REGULAR,5554,195
194107,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/02/2015,00:00:00,REGULAR,5554,195
194108,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/02/2015,04:00:00,REGULAR,5554,195
194109,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/02/2015,08:00:00,REGULAR,5554,195
194110,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/02/2015,12:00:00,REGULAR,5554,195
194111,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/02/2015,16:00:00,REGULAR,5554,195
194112,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,01/02/2015,20:00:00,REGULAR,5554,195

In [96]:
df_transaction = pd.concat([df_transaction, df_loop])

In [102]:
df_transaction.isnull().sum()

C/A                                                                     0
UNIT                                                                    0
SCP                                                                     0
STATION                                                                 0
LINENAME                                                                0
DIVISION                                                                0
DATE                                                                    0
TIME                                                                    0
DESC                                                                    0
ENTRIES                                                                 0
EXITS                                                                   0
dtype: int64

In [106]:
df_transaction['TOT_MOVEMENT'] = df.apply(lambda row: row['ENTRIES'] + row['EXITS'], axis=1)

KeyError: ('ENTRIES', 'occurred at index 0')

In [ ]:
df_transaction.loc[df_transaction.=='Male',]